<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Processor</title>
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/img_processing.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body class="bg-dark text-white">
    
    {% include "imix/header.html" %}

    <form action="#">
      <div class="container-fluid mt-3">
          <div class="row main-section">
              <div class="col-sm-8 img-section d-flex justify-content-center">
                  <div class="upload-container" id="upload-container">
                    <div class="browse" id="browse-section">
                      <p>Drag and drop an image here, or</p>
                      <label for="file-input">Browse</label>
                      <input type="file" id="file-input" accept="image/*">
                    </div>
                    <div id="preview" style="display: none;">
                      <!-- Image will be displayed here -->
                    </div>
                  </div>
              </div>
  
            <div class="col-sm-4 menu-section">
                
            </div>
          </div>
      </div>
    </form>

    <!-- New container for the "Browse Again" button -->
    <div class="container" id="browse-again-container" style="display: none;">
      <button class="btn btn-primary" id="reset-button">Browse Again</button>
    </div>

    {% include "imix/footer.html" %}

<script src={% static 'js/img_processing.js' %}></script>
<script>
  window.onload = function () {
    window.scrollTo(0, {{ scroll_height }}); // Scroll to predefined height from Django 
  };
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous">
</script>
</body>
</html>