.slogan {
    background: linear-gradient(135deg, #7a7a7a, #585858);
    font-family: 'Zilla Slab', serif;
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.8);
}

.img-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
}

.img-card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.my-container{
    width: 100%;
    height: 100%;
    display: flex;
}

.description{
    width: 70%;
    height: 100%;
    display: flex; 
    justify-content: center;
    align-items: center;
}

.demo_container {
    margin: 10%;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
    position: relative;
    overflow: hidden;
    background: linear-gradient(135deg, #1f4037, #99f2c8);
    font-family: 'Varela Round', serif;
    color: #fff700; /* Lemon yellow text */
    text-shadow: 3px 2px 2px rgba(0, 0, 0, 0.8);
}

.demo_container::before,
.demo_container::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    z-index: 0;
}

.demo_container::before {
    width: 300px;
    height: 300px;
    background: rgba(255, 255, 255, 0.1);
    top: -100px;
    left: -100px;
}

.demo_container::after {
    width: 400px;
    height: 400px;
    background: rgba(255, 255, 255, 0.05);
    bottom: -150px;
    right: -150px;
}

.demo_container h2,
.demo_container p {
    position: relative;
    z-index: 1;
}

.arrow {
    font-size: 2.5rem; /* Larger font size for the arrow */
    font-weight: bold;
    transition: all 0.3s ease-in-out;
    width: 80px; /* Larger width */
    height: 80px; /* Larger height */
    cursor: pointer;
    border: 4px solid #fff; /* Slightly thicker border */
    border-radius: 50%; /* Circular shape */
    display: flex;
    align-items: center;
    justify-content: center;
}

.arrow:hover {
    background-color: grey;
    transform: scale(1.2); /* Enlarge slightly on hover */
    color: #fff; /* Ensure text remains visible */
}


.image-wrapper img {
    transition: opacity 0.3s ease-in-out;
}


.img-hover {
    transition: opacity 0.3s ease-in-out; /* Optional smooth effect */
}

.img-card:hover .img-hover {
    content: attr(data-hover); /* Use the hover attribute for image change */
}